@model IEnumerable<DocuClimb.Web.Models.Climb>

@{
    ViewBag.Title = "All Climbs";
}

<h2>All Climbs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ClimbID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ClimbID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ClimbID })
                </td>
            </tr>
        }
    </tbody>
    </table>
